{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
   
    <form action="{{url_for('auth.register')}}" method="post" class="g-3 pt-5">
        <div class="mb-3">
            <div class="fs-4 fw-light ms-1">Register</div>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="email" name="email" placeholder="Email" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="firstname" name="firstname" placeholder="First Name" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="lastname" name="lastname" placeholder="Last Name" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
            <small class="form-text text-muted">Minimum of 8 characters.</small>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirm" name="confirm" placeholder="Confirm Password" type="password">
        </div>
        <div class="mb-3">
            Already have an account? <span><a href="{{url_for('auth.login')}}"> Log in.</a></span>
        </div>
        <button class="btn btn-primary btn-dark" type="submit">Sign up</button>
    </form>
    
{% endblock %}